.path-mod-groupreg .results {border-collapse: separate;}
.path-mod-groupreg .results .data {vertical-align:top;white-space: nowrap;}
.path-mod-groupreg .button {text-align:center;}
.path-mod-groupreg .attemptcell {width:5px;white-space: nowrap;}
.path-mod-groupreg .anonymous,
.path-mod-groupreg .names {margin-left:auto;margin-right:auto; width:80%;}
.path-mod-groupreg .downloadreport {border-width:0;margin-left:10%;}
.path-mod-groupreg .groupregresponse {width:100%;}
.path-mod-groupreg .groupregresponse .picture {width:10px;white-space: nowrap;}
.path-mod-groupreg .groupregresponse .fullname {width:100%;white-space: nowrap;}

.path-mod-groupreg .responseheader {width: 100%; text-align: center; margin-top: 10px;}
.path-mod-groupreg .groupregs .option label {vertical-align: top;}
.path-mod-groupreg .groupregs .option input {vertical-align: middle;}

.path-mod-groupreg .horizontal,
.path-mod-groupreg .vertical {margin-left: 10%;margin-right: 10%;}
.path-mod-groupreg .horizontal .groupregs .option {padding-right:20px;display:inline; white-space: normal;}
.path-mod-groupreg .horizontal .groupregs .button {margin-top: 10px;}
.path-mod-groupreg ul.groupregs li {list-style:none;}
.path-mod-groupreg .results { text-align: center;}
.path-mod-groupreg .results.anonymous .graph.horizontal {vertical-align: middle;text-align: left;width:70%;}

.path-mod-groupreg .results.anonymous .graph.vertical,
.path-mod-groupreg .cell {vertical-align: bottom; text-align: center; }
.path-mod-groupreg .results.names .header{width:10%; white-space: normal;}
.path-mod-groupreg .results.names .cell{vertical-align: top; text-align: left;}
.path-mod-groupreg .results.names .user,
.path-mod-groupreg #yourselection {padding: 5px;}
.path-mod-groupreg .results.names .user .attemptaction,
.path-mod-groupreg .results.names .user .image,
.path-mod-groupreg .results.names .user .fullname{float:left;}
.path-mod-groupreg .results.names .user .fullname{padding-left: 5px;}
.path-mod-groupreg .results .data.header {width: 10%;}
.path-mod-groupreg .responseaction {text-align: center;}
form#report_groupgen_confirm {
	background: #eee;
	margin-bottom: 20px;
	padding: 20px; 
	border: 1px solid #000;
}
